<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>3G</key> <!--锁屏3G切换2G-->
	<dict>
		<key>Delay</key>
		<integer>60</integer> <!--锁屏后多久启动,单位秒-->
		<key>Enabled</key>
		<integer>0</integer> <!--1为开启, 0为关闭-->
	</dict>
	<key>Background</key> <!--锁屏清理后台-->
	<dict>
		<key>Delay</key>
		<integer>600</integer> <!--锁屏后多久启动,单位秒-->
		<key>Enabled</key>
		<integer>0</integer> <!--1为开启, 0为关闭-->
	</dict>
	<key>KBatteryDoctor_inSleepMode</key>
	<integer>0</integer>
	<key>LowBattery</key>
	<dict>
		<key>Enabled</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>20</integer>
	</dict>
	<key>Sleep</key> <!--定时睡眠-->
	<dict>
		<key>BeginTime</key> <!--开始时间-->
		<real>3600</real> <!--请见下文中的时间算法-->
		<key>Enabled</key>
		<integer>0</integer> <!--1为开启定时睡眠功能, 0为关闭-->
		<key>EndTime</key> <!--结束时间-->
		<real>21600</real> <!--请见下文中的时间算法-->
		<key>OutState</key>
		<integer>-2</integer>
	</dict>
</dict>
</plist>
