<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LaunchApp</key>
	<integer>0</integer>
	<key>PanelEnabled</key> <!--点击电池呼出开关-->
	<integer>1</integer>
	<key>SetNotificationShow</key>
	<integer>0</integer>
	<key>WeeBatteryViewEnabled</key> <!--通知中心显示后台程序-->
	<integer>0</integer>
	<key>WeeMultiLineEnabled</key> <!--通知中心多行开关-->
	<integer>1</integer>
	<key>WeeSwitchViewEnabled</key>
	<integer>0</integer>
</dict>
</plist>
